#menu-tile {
  margin-bottom: 15px;
 margin-left: 20px;
 margin-right: 20px;
  overflow: hidden;
  text-align: center;
  clear: both;
  background-color: grey;
}
h2 {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 20px;
}
#header-nav {
  background-color: grey;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: black;
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .50;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
	float: right;
  
  margin-top: 18px;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

#collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  @media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }


